@import "/src/index.scss";

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1.33px solid #E5E7EB;
  background-color: #252526;
  width: 325px;
  min-width: 34vh;
  position: relative;
  grid-area: menu;  
  &-List {
    
  }
  
  &-WelcomeText{
    color: #6B7280;
  }
}
