.Menu {
  border-right: 1.33px solid #E5E7EB;
  background-color: #252526;
  min-height: 100vh;
  width: 325px;
  min-width: 34vh;
  
  &-List {
    
  }
  
  &-WelcomeText{
    margin-top: 60vh;
    color: #6B7280;
  }
}
