.Home {
  display: grid;
  background-color: var(--black);
  position: relative;
  overflow: hidden;
  min-height: 450px;
  grid-template-columns: 0.8fr 3fr 3fr;
  grid-template-areas:
    'menu header header header'
    'menu play play play'
    'menu play play play'
    'menu play play play' 
    'footer footer footer footer';
}

.WrapperPH{
  height: calc(100vh - 120px);
  overflow: scroll;
  width: auto;
  grid-area: play;

}