.Header-Title {
    font-size: 40px;
    font-family: 'San Francisco';
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 43px;
}

@font-face {
    font-family: 'San Francisco';
    font-style: bold;
    font-weight: 700;
    src: url("/src/helpers/assets/fonts/SFProDisplay-Bold.woff") format("woff");
    font-display: swap; 
    }
