.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.Search_Box{
    border: none;
    background: none;
    width: 50%;
    color: white;
    min-width: 205px;
}


.SearchLogo{
    margin-right: 20px;
}