.List-Btn{
    display: flex;
    align-items: center;
    border-radius: 11px;
    padding: 5px 21px 5px 21px;
    cursor: pointer;
    margin-top: 15px;
    min-width: 250px;
}

.YourLibraryBtn-Text{
    margin-left: 20px;
    
}

