:root {
  --gray: #727780;
  --green: #adff00;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.Settings-Icon {
  width: 36px;
  height: 36px;
  fill: var(--gray);
  cursor: pointer;
  stroke: var(--gray);
  transition: 0.2s;
}

.Settings-Icon:hover {
  fill: var(--green);
  stroke: var(--green);
}
