.Settings-Icon {
  width: 36px;
  height: 36px;
  fill: var(--gray);
  cursor: pointer;
  stroke: var(--gray);
  transition: 0.2s;
}

.Settings-Icon:hover {
  fill: var(--green);
  stroke: var(--green);
}
