@import "/src/index.scss";

.Play {
    grid-area: play;
    color: aliceblue;
    margin: 50px 0px 30px 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    

    &-list{
       max-width: 280px;
       margin: 10px;
       text-align: left;
       cursor: pointer;
    }

    &-img{
        width: 277px;
        height: 275px;
        border-radius: 5px;
    }

    &-name{
        margin: 0;
    }

    &-author{
        margin: 0;
        color:#6B7280;
    }
}